.con{
    height: 3.28rem;width: 6rem;margin: 0.75rem auto;
    display: flex;
}
.left{
    background:url(../images/images/ban1.png)no-repeat;
    background-size: cover; 
    height: 100%;width: 2.55rem;
}
.right{
    background: #fff;
    height: 100%;
    flex-grow:1; 
    padding-left:0.17rem; 
}
.right span{
    font-weight: bold;
    border-bottom: 1px solid #E9E8E8;
    line-height: 0.5rem;
    padding-bottom: 0.1rem;
}
.right p{
    margin-top: 0.15rem;
    width: 3.28rem;color: #666666;
    line-height: 0.4rem;
    font-size: 0.22rem;
}
.more{
    color: #E16D11;
}
.join{
    box-sizing: border-box;
    height: 2.5rem;width: 6rem;
    margin: 0 auto 1.1rem;
    background: url(../images/images/ban1.png) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0.9rem 0 0.68rem;
}
.join h1{
    color: #fff;
    font-size: 0.3rem;
}
.join .line{
    height: 0.03rem;width: 0.55rem;
    background: #fff;
    margin: 0.15rem auto;
}
.join span{
    display: block;
    color: #F7F6F6;
    font-size: 0.28rem;
}