*{
    margin: 0;padding: 0;border: 0;
    list-style: none;
}
a{
    text-decoration: none;color: #656565;
}
body{
    font-size: 0.24rem;
    color: #666;
}
.banner{
    height: 3.05rem;width: 100%;
    background:url(../images/images/ban1.png) no-repeat;
    background-size:cover;
}
.banner-border{
    width: 4.5rem;height: 0.8rem;
    float: left;
    background: url(../images/images/border.png) no-repeat;
    background-size: contain;
    /*margin: 1.37rem 0.95rem 0;*/
    position: relative;
}
.title{
    color: #fff;font-size: 0.36rem;
    margin-top: -0.2rem;
    text-align: center;
}
.title-con{
    color: #fff;font-size: 0.2rem;
    text-align: center;
    line-height: 0.4rem;
}