{template "content","myhead"}
<link rel="stylesheet" href="{CSS_PATH}init.css">
<link rel="stylesheet" href="{CSS_PATH}xiangqingye.css">

    <div class="banner">
        <div class="banner-border">
            <h1 class="title">行业资讯</h1>
            <h2 class="title-con">在化妆品行业的细分领域，努力成为翘楚</h2>
        </div>    
   </div> 
   <!--详情内容-->
   <div class="main">
       <h1 class="main_title">化妆品备案凭证和卫生许可批件的有效</h1>
       <span>发布时间：2016-01-05</span>
       <img src="{IMG_PATH}images/ban1.png" alt="">
       <p>
           随着移动互联网时代的到来随着移动互联网时代的到来网络文学也发生了相应的变化，移动阅读客户端成为了网络文学内容的主要来源，移动阅读的用户和收入规模都呈现出上升趋势，2014年底，中国移动阅读的用户和收入分别为2.42亿、4.3亿。在移动阅读的各类形式中手机阅读占据主导地位.
       </p>
       <div class="more">
           <div class="top">上一篇：<a href="#">IBM 存储资源管理方案</a></div>
           <div class="bottom">下一篇：<a href="#">IBM 存储资源管理方案</a></div>
       </div>
   </div>
{template "content","myfoot"}